<form [formGroup]="assetForm" [ngClass]="{ja:selectedLang==='ja'}">
  <div class="form-group">
    <ng-container *ngFor="let control of forms ">
      <mat-form-field *ngIf="(control !== '_id') && (control !== '__v')">
        <mat-label>{{control | translate}}</mat-label>
        <ng-container *ngIf="control!=='calibrationDate'">
          <input matInput class="form-control" formControlName="{{control}}" placeholder="">
        </ng-container>
        <ng-container *ngIf="control==='calibrationDate'">
          <div style="display: inline-flex;">
            <input matInput [matDatepicker]="datePicker" class="date-input form-control" formControlName="{{control}}"
              placeholder="">
            <mat-datepicker-toggle matSuffix [for]="datePicker" class="mat-form-field-suffix"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </div>
        </ng-container>
      </mat-form-field>
      <br>
    </ng-container>
    <div>
      <button mat-raised-button (click)="addAsset()">
        <mat-icon class="button-icon">add_circle</mat-icon>
        Add
      </button>

      <button mat-raised-button class="update-button" (click)="updateAsset()">
        <mat-icon class="button-icon">autorenew</mat-icon>
        Update
      </button>
    </div>
    <!-- <p>
      <button (click)="getAssets()">get Assets</button>
    </p> -->
  </div>
  <div>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. E5071C">
    </mat-form-field>
    <table mat-table matSort [dataSource]="dataSource" style="width: 100%;">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
        <ng-container *ngIf="column !== 'edit'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | translate}} </th>
          <ng-container *ngIf="column!=='calibrationDate'">
            <td mat-cell *matCellDef="let element"> {{element[column] }} </td>
          </ng-container>
          <ng-container *ngIf="column==='calibrationDate'">
            <td mat-cell *matCellDef="let element"> {{element[column] | date  }} </td>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="column === 'edit'">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button mat-icon-button (click)="toEdit(element._id)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</form>
